footer{
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    height: fit-content;
}
footer a{
    text-decoration: none;
    color: blueviolet;
}
footer a:hover{
    text-decoration: underline;
}
footer p{
    display: inline;
}
footer span{
    margin: 0 5px;
}
footer .separator{
    margin: 0 10px;
    color: gray;
}
footer .heart{
    color: red;
}
footer .copyright{
    color: gray;
}
